/************************************/
/* ELEMENTOS HTML 					*/
/************************************/

* {
	margin: 0;
	padding: 0;
	font-family: calibri;
}

body{
	background: #eee;
	overflow: hidden;
}

#teste{
	width: 500px;
	height: 130px;
	outline: none;
	border: 1px solid #ddd;
	padding: 10px;
	position: absolute;
	bottom: 10px;
	color: #777;
	resize: none;
	float: left;
}

header {
    background: #03A9F4;
    height: 90px;
    position: relative;
    z-index: 1;
    box-shadow: 0px 0px 5px #ccc;
}

header h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 2px;
    font-style: italic;
    padding: 9px 0;
    width: 720px;
    margin: 0 auto;
}

section#principal {
    background: #fff;
    width: 700px;
    margin: 0 auto;
    box-shadow: 0px 0px 5px #ccc;
    padding: 10px;
    position: relative;
}

header div {
    margin: 12px auto 0;
    display: block;
    width: 720px;
    background: #fff;
    padding-bottom: 15px;
    /* border-bottom: 1px solid #eee; */
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
}

#principal div {
    color: #777;
    overflow: auto;
}

#principal div p {
    margin-bottom: 10px;
    line-height: 22px;
    text-align: justify;
}

button#mais_texto {
    position: absolute;
    right: 10px;
    background: #5CCC61;
    border: none;
    color: #fff;
    font-size: 31px;
    outline: none;
    border-radius: 50%;
    padding: 1px 14px 5px;
    cursor: pointer;
    box-shadow: 0px 0px 5px #eee;
    margin-top: 2px;
}

button#contar {
    border: none;
    background-color: #03A9F4;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 3px 20px;
    border-radius: 3px;
    margin-top: 10px;
    cursor: pointer;
    outline: none;
    width: 150px;
    text-align: center;
    margin-right: -10px;
}

header div span {
    border-bottom: 1px solid #eee;
    display: block;
    padding: 11px 10px 12px;
}

section#modal {
    position: absolute;
    z-index: 2;
    background: #fff;
    padding: 10px;
    width: 500px;
    /* height: 220px; */
    box-shadow: 0px 0px 5px #999;
    border-radius: 5px;
    display: none;
    top: 150px;
    padding-bottom: 45px;
}

span.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    z-index: 2;
	display: none;
}

#modal span {
    display: block;
    margin: 10px 0;
    color: #999;
}

#modal div {
    position: absolute;
    bottom: 10;
    text-align: right;
    width: 95%;
    padding-top: 10px;
    border-top: 1px solid #eee;
}

button#novo {
    background: #2196F3;
    border: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
    padding: 5px 20px;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

button#fechar {
    border: none;
    background: none;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    margin: 0 10px;
    color: #2196F3;
    cursor: pointer;
    outline: none;
}
#modal h2 {
    color: #03A9F4;
    font-weight: normal;
    font-size: 16px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    letter-spacing: 1px;
}

#modal h3 {
    color: #2196f3;
    font-size: 14px;
    margin-top: 10px;
	display: none;
}

#modal span label {
    color: #8BC34A;
    margin-left: 5px;
}

#modal .exibir {
    top: 25px;
    border-top: 0;
    display: none;
    text-align: left;
    margin-left: 250px;
}

#principal span {
    float: right;
    width: 200px;
    text-align: center;
}

#principal span label {
    display: block;
    clear: both;
    margin: 20px auto 10px;
    color: #777;
    font-size: 12px;
    width: 140px;
}

#principal span label input[type="checkbox"] {
    float: left;
}

header span.varios label {
    margin: 0 3px;
    border: 1px solid #eee;
    padding: 5px 10px;
    border-radius: 3px;
	cursor: pointer;
}

header span.varios label:hover, header span.varios label.ativo {
	background: #eee;
}

#txt{
	display: none;
}